{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}"> 
</head>

<body>
    <div id="reset-form" class="container2"> 
        <h2>Recuperar Contraseña</h2>
        <p>Ingresa tu dirección de correo electrónico a continuación y te enviaremos instrucciones para configurar una nueva contraseña.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar instrucciones</button>
        </form>
    </div>
</body>
</html>