/* Estilo general para el contenedor del formulario */
#login-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
    margin: 50px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título */
#login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para las etiquetas */
.form-group label {
    font-weight: bold;
}

/* Estilo para los campos de entrada */
.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box; 
}

.form-group.has-error input {
    border: 1px solid red; /* Sobreescribe el borde negro con rojo */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Sombra roja sutil para resaltar */
}

/* Estilo para el botón */
#login-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Estilo para el efecto hover del botón */
#login-form button:hover {
    background-color: #45a049;
}

/* Estilo para mensajes de error */
#login-form p {
    color: red;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.login-form{
    background-color: #45a049;
}